###############################################################################
# LOCALHOST.CFG - SAMPLE OBJECT CONFIG FILE FOR MONITORING THIS MACHINE
#
#
# NOTE: This config file is intended to serve as an *extremely* simple
#       example of how you can create configuration entries to monitor
#       the local (Linux) machine.
#
###############################################################################



###############################################################################
#
# HOST DEFINITION
#
###############################################################################

# Define a host for the local machine

define host {

    use                     linux-server
    host_name               viewadmin01
    alias                   viewadmin01
    address                 10.250.1.4
}



###############################################################################
#
# HOST GROUP DEFINITION
#
###############################################################################

# Define an optional hostgroup for Linux machines

define hostgroup {

    hostgroup_name          viewadmin01
    alias                   viewadmin01
    members                 viewadmin01
}



###############################################################################
#
# SERVICE DEFINITIONS
#
###############################################################################

# Define a service to "ping" the local machine

define service {

    use                     local-service           ; Name of service template to use
    host_name               viewadmin01
    service_description     PING
    check_command           check_ping!100.0,20%!500.0,60%
}

# Define a service to check the number of currently logged in
# users on the local machine.  Warning if > 20 users, critical
# if > 50 users.

define service {

    use                     local-service           ; Name of service template to use
    host_name               viewadmin01
    service_description     User 01
    check_command           check_nrpe!check_users
}

# Define a service to check SSH on the local machine.
# Disable notifications for this service by default, as not all users may have SSH enabled.

define service {

    use                     local-service           ; Name of service template to use
    host_name               viewadmin01
    service_description     SSH_01
    check_command           check_nrpe!check_ssh
}

# Define a service to check the number of currently running procs
# on the local machine.  Warning if > 250 processes, critical if
# > 400 processes.

define service {

    use                     local-service           ; Name of service template to use
    host_name               viewadmin01
    service_description     Total Processes_01
    check_command           check_nrpe!check_procs
}

#servicio para current load de Fer
define service {

    use                     local-service           ; Name of service template to use
    host_name               viewadmin01
    service_description     Current_Load_01
    check_command           check_nrpe!check_load
}

# Define a service to check the disk space of the root partition
# on the local machine.  Warning if < 20% free, critical if
# < 10% free space on partition.

define service {

    use                     local-service           ; Name of service template to use
    host_name               viewadmin01
    service_description     Root Partition_01
    check_command           check_nrpe!check_disk
}


#servicio para grafana
define service {

    use                     local-service           ; Name of service template to use
    host_name               viewadmin01
    service_description     Grafana_01
    check_command           check_nrpe!check_grafana
    notifications_enabled   1
}

#servicio para influxdb
define service {

    use                     local-service           ; Name of service template to use
    host_name               viewadmin01
    service_description     Influxdb_01
    check_command           check_nrpe!check_influxdb
    notifications_enabled   1
}

#servicio para prometheus
define service {

    use                     local-service           ; Name of service template to use
    host_name               viewadmin01
    service_description     Prometheus_01
    check_command           check_nrpe!check_prometheus
    notifications_enabled   1
}

#servicio para mailhog_http
define service {

    use                     local-service           ; Name of service template to use
    host_name               viewadmin01
    service_description     Mailhog_http_01
    check_command           check_nrpe!check_mailhog_http
    notifications_enabled   1
}

#servicio para mailhog_smpt
define service {

    use                     local-service           ; Name of service template to use
    host_name               viewadmin01
    service_description     Mailhog_smtp_01
    check_command           check_nrpe!check_mailhog_smtp
    notifications_enabled   1
}

#servicio para ntp_time
define service {

    use                     local-service           ; Name of service template to use
    host_name               viewadmin01
    service_description     Ntp_time_01
    check_command           check_nrpe!check_ntp_time
    notifications_enabled   1
}